.project
.cproject
LCD/liblcdriver.so
LCD/liblcdriver_x64.so
CDAL/core
CDAL/libcdal.so
riff/core
riff/riff
core
*~
*.o
*.BASE.*.txt
*.BACKUP.*.txt
*.REMOTE.*.txt
*.orig
*.sln
*.ncb
*.suo
*.user
*.obj
CDAL/Debug/
CDAL/Release/
riff/Debug/
riff/Release/
output/
dependencies/CDAL.h
dependencies/CDAL.lib
dependencies/LCDriver.h
dependencies/LCDriver_CNH1606432.lib
dependencies/libusb.lib
dependencies/usb.h