#Configuration file.
#Please set the correct paths below.

# Path to ISSW
!set ISSWPATH /usr/share/riff/snowball/boot_image_issw.bin

# Path to XLOADER
!set XLOADERPATH /usr/share/riff/snowball/boot_image_x-loader.bin

# Path to PRCMU
!set PWRMGMTPATH /usr/share/riff/snowball/power_management.bin

# Path to MEMINIT
!set MEMINITPATH /usr/share/riff/snowball/mem_init.bin

# Path to LOADER
!set NORMALPATH /usr/share/riff/snowball/loader_v2.bin

# Vendor ID
!set VENDORID 0x04cc

# Product ID
!set PRODUCTID 0x8500

# Path to LCM library
!set LCMLIBPATH /usr/lib/liblcm.so.1

# Path to flash image
#!set FLASH_IMG_PATH /path_to_image



